[alias]
	dtf = !git --git-dir=/home/dryam/.local/share/repos/dotfiles --work-tree=/home/dryam
[user]
	email = nushellrock@gmail.com
	name = Bill Frankys
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
