/*/
/.bash_history
!/.config
!/.gitignore
!/.gitconfig
/.config/nushell/history.*
/.config/gh/hosts.yml
/.config/Code/*
/.config/helix/runtime/*
# Added by cargo

/target
/Cargo.lock

.wget-hsts
.aws
.azure
.bash_logout
.motd_shown
.sudo_as_admin_successful
.wget-hsts
# Added by cargo
#
# already existing elements were commented out

#/target
